div.Pane {
  padding: 3px;
  border: solid 2px #61dafb;
  border-radius: 5px;
  margin: 3px;
}

@media (min-width: 1280px) {
  div.Pane {
    max-width: 680px;
  }
}

@media (max-width: 1280px) {
  div.Pane {
    flex-grow: 1;
  }
}

/****************************************************/
.ButtonGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem;
}
.ButtonGroup > button {
  flex-grow: 1;
}
.ButtonGroup > button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ButtonGroup > button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/****************************************************/
.DataTable {
  margin: 1rem;
  border: 1px solid #61dafb;
  border-radius: 5px 5px;
}
.DataTable * {
  font-size: small;
}
.DataTable > table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.DataTable > table > thead {
  border-bottom: 1px solid #61dafb;
}
.DataTable > table > tbody > tr:last-child {
  border-top: 1px solid #61dafb;
}
.DataTable button {
  border-radius: 5px 5px;
}
.DataTable select {
  border-radius: 5px 5px;
}
